name: Terraform Security Pipeline

env:
  TF_WORKSPACE: dev

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform-security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Select Terraform Workspace
        working-directory: terraform
        run: terraform workspace select $TF_WORKSPACE || terraform workspace new $TF_WORKSPACE

      - name: Terraform Format
        working-directory: terraform
        run: terraform fmt -check

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

        #Ferramenta open source
        #Analisa código Terraform em busca de vulnerabilidades de segurança
      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3

